
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets/new" method="POST">
    <label>Flight: <%= flight.flightNo %></label><br>
    <label>Flight: <%= flight._id %></label><br>
    <label>Seat:</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price:</label>
    <input type="text" name="price">
    <input type="hidden" name="flight" value="<%= flight._id %>">
    <input type="submit" value="Add Ticket">
  </form>
</body>
</html>