<!DOCTYPE html>
<html>
  <head>
    <title>New Flight</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Enter New Flight</h1>
    <body>
      <form action="/flights" method="POST">
        <label>Airline:
          <input type="text" name="airline">
        </label><br><br>
        <label>Flight No:
          <input type="text" name="flightNo">
        </label><br><br>
        <label>Departs:
          <input type="date" name="departs">
        </label><br><br>
        <label>Airport:
          <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DAL">DAL</option>
            <option value="LAX">LAX</option>
            <option value="SEA">SEA</option>
          </select>
        </label><br><br>
        <input type="submit" value="Add Flight">
      </form>
    </body>
  </body>
</html>
